.menu-block {
    width: calc(100% - 40px); /* Ширина блока */
    position: absolute;
    bottom: 40px; 
    margin: 15px;
    background-color: #0056b3;
    display: flex;
    border-radius: 15px;
}

.menu-button {
    width: calc(25% - 10px);
    margin: 5px;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;  /* Прячем текст, который не помещается */
    text-overflow: ellipsis; /* Добавляем "три точки" если текст не помещается */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    font-size: 1rem; /* Базовый размер шрифта */
    
}

/* Добавляем белый правый бордюр всем элементам, кроме последнего */
.menu-button:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.menu-button:hover {
    background-color: #004085;
}

/* Медиа-запросы для адаптации текста при уменьшении экрана */
@media (max-width: 1200px) {
    .menu-button {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .menu-button {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .menu-button {
        font-size: 0.7rem;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .menu-button {
        font-size: 0.6rem;
        padding: 6px;
    }
}