@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.menu-block {
    width: calc(100% - 40px); /* Ширина блока */
    position: absolute;
    bottom: 40px; 
    margin: 15px;
    background-color: #0056b3;
    display: flex;
    border-radius: 15px;
    
}

.menu-button {
    width: calc(25% - 10px);
    height: 50px;
    margin: 5px;
    
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    
    text-overflow: ellipsis; /* Добавляем "три точки" если текст не помещается */
    
    font-size: 1rem; /* Базовый размер шрифта */
    
}
.menu-button-content {
    display: flex;
    flex-direction: column; /* Вертикальное расположение контента */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.menu-button-content p {
    margin: 5px 0 0 0; /* Отступ сверху для текста */
}

.text-buttons{
    color: rgb(128, 146, 165);
}

/* Добавляем белый правый бордюр всем элементам, кроме последнего */
.menu-button:not(:last-child) {
    border-right: 1px solid #ffffff;
}

/* Медиа-запросы для адаптации текста при уменьшении экрана */
@media (max-width: 1200px) {
    .menu-button {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .menu-button {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .menu-button {
        font-size: 0.7rem;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .menu-button {
        font-size: 0.6rem;
        padding: 6px;
    }
}

.active{
    color: #fff;
    font-weight: 900;
}