.claim-block{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    margin-top: 50px;
    background-color:#d8e2ef;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    display: flex; /* Enable flexbox */
    
    flex-direction: column;
    align-items: center;
    transform: scale(1.6);
    
}

.claim-miniblock{
    margin-top: 15px;
    width: 95%;
    background-color: #f8fafc;
    height: 120px;
    border-radius: 15px;
    display: flex;
}

.logo-crypto{
    margin-top: 20px;
    margin-left: 5px;
    width: 80px;
}

.mini-claim-block{
    height: 70px;
    background-color: #2c2c2c;
    width: 90%;
    border-radius: 25px;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.mini-claim-block-text{
    color: white;
    font-size: 20px;
    text-align: center;
    
}

.claim-text-time{
    font-size: smaller;   
    white-space: nowrap; 
    position: relative;
    color: red;
}

.text-amount-to-claim{
    white-space: nowrap; 
    color: black;
    font-weight: 700;
    font-size: 17px;
}

.info_maining{
    display: flex;
    align-items: center;
    
}

.subma-maining{
    margin-right: 10px;
    font-weight: 800;
    color: slategray;
    margin-bottom: 40px;
}
.subma-maining2{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 50px;
    margin-right: 50px;
    
}

.info_maining2{
    display: flex;
}

.logo-crypto2{
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 30px;
    
   
}


.info-about-claim{
    color: slategray;
    font-weight: 600;
}


